.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-info-wrap {
  display: flex;
  flex-direction: column;
  padding: 112px 0;
}

.hero-title {
  /* font-weight: 700; */
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  max-width: 392px;
  margin-bottom: 18px;
}
.hero-text {
  /* font-weight: 400; */
  font-size: 18px;
  line-height: 1.55;
  color: #22343d;
  width: 432px;
  margin-bottom: 42px;
}
.hero-btn-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.hero-btn-item {
}
.hero-btn {
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border: none;
}

.hero-btn-link {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
  background-color: transparent;
  border: none;
  text-align: center;
}

.hero-icon {
  fill: #02897a;
  margin-right: 9px;
}

.hero-img {
}
